:root {
  --color-dark-blue: #1F2632;
  --color-medium-blue: #37414E;
  --color-neon-blue: #33d4ff;
  --color-light-blue: #CEE3E9;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-variablefont.woff2") format("woff2-variations");
  font-weight: 400 800;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: unset;
  background-color: var(--color-dark-blue);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 28rem;
  height: fit-content;
  box-shadow: 1px 1px 15px var(--color-neon-blue);
  margin: unset;
  padding: 3rem;
  border-radius: .75rem;
  background-color: var(--color-medium-blue);
  text-align: center;
}

/* Quote author */
.card > figcaption {
  margin: unset;
  color: var(--color-neon-blue);
  font-size: 1.25rem;
  font-weight: 500;
}

.card > blockquote {
  margin: unset;
}

/* Quote text */
.card p {
  margin-top: 1rem;
  color: var(--color-light-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

.card > button {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color: var(--color-neon-blue);
  color: var(--color-dark-blue);
  border: transparent;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 1s;
}

.card > button:hover {
  background-color: var(--color-light-blue);
}

/* Mobile */
@media screen and (max-width: 600px) {
  .card {
    width: 16rem;
    padding: 1.75rem;
    box-shadow: 1px 1px 10px var(--color-neon-blue);
  }

  /* Quote text */
  .card p {
    font-size: 1.4rem;
  } 

  .card > button:hover {
    background-color: var(--color-neon-blue);
  }
}