:root {
  --color-dark-blue: #1F2632;
  --color-medium-blue: #37414E;
  --color-neon-blue: #33d4ff;
  --color-light-blue: #CEE3E9;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-variablefont.woff2") format("woff2-variations");
  font-weight: 400 800;
}

body {
  margin: unset;
  background-color: var(--color-dark-blue);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 1rem;
}

button {
  padding: 1rem;
  background-color: var(--color-neon-blue);
  color: var(--color-dark-blue);
  border: transparent;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  background-color: var(--color-light-blue);
}

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 28rem;
  height: fit-content;
  box-shadow: 1px 1px 15px var(--color-neon-blue);
  margin: auto;
  padding: 3rem;
  border-radius: .75rem;
  background-color: var(--color-medium-blue);
  text-align: center;
}

/* Quote author */
.card > figcaption {
  margin: unset;
  color: var(--color-neon-blue);
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: 1s;
}

.card > figcaption:hover {
  transform: scale(1.1);
}

blockquote {
  margin: unset;
}

/* Quote text and card loading */
.card p {
  margin-top: 1rem;
  color: var(--color-light-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

.card > button {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Author section with several quotes */
.author {
  text-align: center;
}

/* Author name */
.author > p:first-child {
  margin-bottom: 2.5rem;
  color: var(--color-neon-blue);
  font-size: 1.25rem;
  font-weight: 500;
}

/* Loading and quotes */
.author > p:nth-child(2),
.author blockquote {
  color: var(--color-light-blue);
  font-size: 1rem;
}

.author blockquote p {
  margin-bottom: .75rem;
}

/* Divider */
.author img {
  width: 16rem;
  margin: 0 auto 2rem auto;
}

.author > button {
  margin-top: 2rem;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .card {
    width: 16rem;
    padding: 1.75rem;
    box-shadow: 1px 1px 10px var(--color-neon-blue);
  }

  /* Quote text and card loading */
  .card p {
    font-size: 1.4rem;
  }

  button:hover {
    background-color: var(--color-neon-blue);
  }

  .author img {
    width: 14rem;
  }
}